In [12]:
a='C,B,A'
b=['F','G','H']
c=a.split(',')
c.extend(b)
c[0]='K'
d=c.pop(2)
print(d)

del c[1:4]
c.append('U')
print(c)

A
['K', 'H', 'U']

In [37]:
a=input("請輸入一個八位數:")
print(f'第五個數字：',a[4])

請輸入一個八位數:12345678
第五個數字： 5

In [31]:
a='My ID is B1209233'
b=a.split(' ')
print(len(b))
print(len(b[3]))

4
8

In [33]:
a="I'm a student"
b=a.split(' ')
c=b[0].split("'")
print(c[1])

m